/*
    4. Inside of style.css, copy the above css, but change to font color to purple.
    What color is the h1 after making this change? - Still blue like the sky
    Remove your embedded stylesheet and view the page again. - It turned purple
*/
.fancy-header {
    color: purple; /* single line comment */
    text-decoration: underline;
}

/*Open up your welcome.html file from earlier.*/
/*Center the main heading*/
header>.fancy-header{
    text-align: center;
}
/*Add a style to change the background color of the page.*/
/*Add a style to add a background image to your background. Search how to manipulate the position, sizing of this background image.*/
body{
    /*background: linear-gradient(to bottom, red, orange, red);*/
    background-image: url("https://fer-uig.glitch.me");
    background-repeat: no-repeat;
    background-size: 80vw 80vh;
    background-position-x: 100px;
    background-position-y: 100px;
    background-attachment: fixed;

}


/*Add a style to change the list-style to something other than the default bullet.*/
li {
    list-style: square;
}


/*
    What do the above exercises tell you about the precedence of style attributes and embedded and external stylesheets?

    1. style tags first,
    2. then embedded stylesheets,
    3. then external css stylesheets
*/

/*
    Remove any style attributes and embedded stylesheets. From this point forward, we will only be working with external stylesheets.

    Finally, commit the changes to your git repository, and push to GitHub.
 */